<section class="section section-about" id="aboutus-a">
    <div class="container about-container">
        <h2 class="about-title">Чому Хатинка Лапок</h2>
        <button class="swiper-button-prev swiper-button-prev-custom" aria-label="Previous slide">
            <svg class="icon" width="16" height="16" viewBox="0 0 32 32">
                <path
                    d="M5.817 17.331l11.004 11.003c0.34 0.341 0.512 0.741 0.515 1.2s-0.164 0.861-0.503 1.204c-0.34 0.344-0.741 0.514-1.204 0.51s-0.865-0.176-1.207-0.516l-13.9-13.9c-0.182-0.184-0.314-0.375-0.397-0.574s-0.124-0.41-0.124-0.633 0.042-0.434 0.124-0.631c0.083-0.198 0.215-0.389 0.397-0.572l13.912-13.912c0.352-0.34 0.755-0.509 1.208-0.509s0.851 0.17 1.191 0.509c0.34 0.348 0.509 0.75 0.509 1.204s-0.17 0.853-0.509 1.195l-11.015 11.015h24.405c0.488 0 0.896 0.162 1.224 0.485s0.491 0.729 0.491 1.219-0.164 0.895-0.491 1.219c-0.328 0.323-0.736 0.485-1.224 0.485h-24.405z">
                </path>
            </svg>
        </button>
        <button class="swiper-button-next swiper-button-next-custom" aria-label="Next slide">
            <svg class="icon" width="16" height="16" viewBox="0 0 32 32">
                <path
                    d="M26.183 14.669l-11.004-11.003c-0.34-0.341-0.512-0.741-0.515-1.2s0.164-0.861 0.504-1.204c0.34-0.344 0.741-0.514 1.204-0.51s0.865 0.176 1.207 0.516l13.9 13.9c0.182 0.184 0.314 0.375 0.397 0.574s0.124 0.41 0.124 0.633-0.041 0.433-0.125 0.631c-0.083 0.198-0.215 0.389-0.397 0.573l-13.912 13.912c-0.352 0.34-0.755 0.51-1.209 0.51s-0.851-0.17-1.191-0.509c-0.34-0.348-0.509-0.75-0.509-1.204s0.17-0.854 0.509-1.195l11.015-11.015h-24.405c-0.488 0-0.896-0.162-1.224-0.485s-0.491-0.73-0.491-1.218 0.164-0.895 0.491-1.219c0.328-0.323 0.736-0.485 1.224-0.485h24.405z">
                </path>
            </svg>
        </button>
        <div class="swiper about-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="about-slide">
                        <img src="./img/about-us/slide01.jpg"
                            srcset="./img/about-us/slide01.jpg 1x, ./img/about-us/slide01@2x.jpg 2x" alt="Rescued dogs">
                        <p class="about-text">
                            Все почалося у 2015 році з кількох небайдужих людей та одного врятованого собаки. Сьогодні
                            ми — один з найбільших
                            притулків у регіоні, але наша мета незмінна: дати другий шанс тим, кого зрадили.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-slide">
                        <img src="./img/about-us/slide02.jpg"
                            srcset="./img/about-us/slide02.jpg 1x, ./img/about-us/slide02@2x.jpg 2x" alt="Animals">
                        <p class="about-text">
                            Ми рятуємо, реабілітуємо та знаходимо люблячі родини для безпритульних тварин. Наша мета —
                            не просто дати прихисток, а й
                            забезпечити кожному "хвостику" щасливе та повноцінне життя в новій родині.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-slide">
                        <img src="./img/about-us/slide03.jpg"
                            srcset="./img/about-us/slide03.jpg 1x, ./img/about-us/slide03@2x.jpg 2x" alt="Vet clinic">
                        <p class="about-text">
                            "Хатинка Лапок" — це команда професійних ветеринарів, кінологів та десятків волонтерів, які
                            щодня вкладають свою душу та
                            час у турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя залежить від нас.
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="about-slide">
                        <img src="./img/about-us/slide04.jpg"
                            srcset="./img/about-us/slide04.jpg 1x, ./img/about-us/slide04@2x.jpg 2x" alt="Safe space">
                        <p class="about-text">
                            Ми створили безпечний та комфортний простір. Кожна тварина отримує якісне харчування,
                            своєчасну ветеринарну допомогу,
                            проходить соціалізацію та гуляє на спеціально обладнаних майданчиках.
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="about-slide">
                        <img src="./img/about-us/slide05.jpg"
                            srcset="./img/about-us/slide05.jpg 1x, ./img/about-us/slide05@2x.jpg 2x" alt="Help animals">
                        <p class="about-text">
                            Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати волонтером, допомогти
                            фінансово або інформаційно. Кожен
                            маленький внесок наближає нас до великої мети — світу без безпритульних тварин.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-controls">
            <div class="swiper-pagination"></div>
            <div class="about-arrows">
                <button class="swiper-button-prev" aria-label="Previous slide">
                    <svg class="icon" width="16" height="16" viewBox="0 0 32 32">
                        <path
                            d="M5.817 17.331l11.004 11.003c0.34 0.341 0.512 0.741 0.515 1.2s-0.164 0.861-0.503 1.204c-0.34 0.344-0.741 0.514-1.204 0.51s-0.865-0.176-1.207-0.516l-13.9-13.9c-0.182-0.184-0.314-0.375-0.397-0.574s-0.124-0.41-0.124-0.633 0.042-0.434 0.124-0.631c0.083-0.198 0.215-0.389 0.397-0.572l13.912-13.912c0.352-0.34 0.755-0.509 1.208-0.509s0.851 0.17 1.191 0.509c0.34 0.348 0.509 0.75 0.509 1.204s-0.17 0.853-0.509 1.195l-11.015 11.015h24.405c0.488 0 0.896 0.162 1.224 0.485s0.491 0.729 0.491 1.219-0.164 0.895-0.491 1.219c-0.328 0.323-0.736 0.485-1.224 0.485h-24.405z">
                        </path>
                    </svg>
                </button>
                <button class="swiper-button-next" aria-label="Next slide">
                    <svg class="icon" width="16" height="16" viewBox="0 0 32 32">
                        <path
                            d="M26.183 14.669l-11.004-11.003c-0.34-0.341-0.512-0.741-0.515-1.2s0.164-0.861 0.504-1.204c0.34-0.344 0.741-0.514 1.204-0.51s0.865 0.176 1.207 0.516l13.9 13.9c0.182 0.184 0.314 0.375 0.397 0.574s0.124 0.41 0.124 0.633-0.041 0.433-0.125 0.631c-0.083 0.198-0.215 0.389-0.397 0.573l-13.912 13.912c-0.352 0.34-0.755 0.51-1.209 0.51s-0.851-0.17-1.191-0.509c-0.34-0.348-0.509-0.75-0.509-1.204s0.17-0.854 0.509-1.195l11.015-11.015h-24.405c-0.488 0-0.896-0.162-1.224-0.485s-0.491-0.73-0.491-1.218 0.164-0.895 0.491-1.219c0.328-0.323 0.736-0.485 1.224-0.485h24.405z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>


<script src="./js/aboutus.js" type="module"></script>