<section class="section-hero" id="hero-section">
    <div class="section-hero-wrap container">
        <h1 class="section-hero-title">
            Кожне життя має значення. Знайди свого вірного друга
        </h1>
        <p class="section-hero-text">
            Сотні котиків та собачок у притулку Хатинка Лапок чекають на свою родину.
            Подаруйте їм дім.
        </p>
        <a class="section-hero-link" href="#stories-a">
            Подивитись історії
        </a>
    </div>
</section>