<section class="pets-list-section" id="pets-a">
    <div class="container pets-list-container">

        <h2 class="pets-section-header">Наші хвостики</h2>
        <p class="pets-header-paragraph">Вони дуже чекають на знайомство з вами</p>
        <ul class="pets-categories"></ul>

        <ul class="pets-list"></ul>

        <div class="load-container">
            <button class="show-more is-hidden">Показати більше</button>
            <span class="loader hidden js-loader"></span>
        </div>

    </div>
</section>