.header-section,
.header-section *,
.header-section *::before,
.header-section *::after {
  box-sizing: border-box;
}


.logo {
  display: flex;
  justify-content: center;
}

.nav-list-menu {
  display: none;
}

.header-nav {
  display: flex;
}

.head-container {
  padding: 0 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f4f1;
  margin: 0 auto;
}

.burger-btn {
  display: block;
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.btn-header {
  display: none;
}

@media only screen and (min-width: 768px) {
  .head-container {
    padding: 0 32px;
  }

  .header-container {
    padding: 0;
  }

  .header-nav {
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }

  .nav-list-menu {
    display: none;
  }

}

@media only screen and (min-width: 1440px) {
  .head-container {
    padding: 0 64px;
  }

  .header-nav {
    justify-content: start;
  }

  .burger-btn {
    display: none;
  }

  .nav-link-menu {
    font-weight: 400;
    font-size: 16px;
    padding: 24px 0;
  }

  .nav-link-menu:active {
    color: #88765c;
  }

  .btn-header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 130px;
    height: 40px;
    padding: 8px 20px;
    border: 1px solid #88765c;
    border-radius: 8px;
    background-color: #88765c;
    text-decoration: none;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    transition:
      background-color 0.2s ease,
      box-shadow 0.2s ease,
      transform 0.1s ease;
    color: #fff;
  }

  .btn-header:hover {
    background-color: #eee9e3;
    color: black;
  }

  .btn-header:focus-visible {
    background-color: #eee9e3;
    box-shadow:
      inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
      inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    outline: none;
  }

  .btn-header:active {
    background-color: #c3b49d;
    transform: translateY(1px);
  }

  .nav-link-menu {
    position: relative;
    padding: 12px 0;
    color: #2e2f42;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .nav-link-menu::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #443b2e;
    border-radius: 2px;
    transition: width 0.3s ease, left 0.3s ease;
  }

  .nav-link-menu:hover::after,
  .nav-link-menu.current::after {
    width: 100%;
    left: 0;
  }

  .nav-list-menu {
    display: flex;
    gap: 32px;
    margin-left: 24px;
  }

}