.swiper-but .swiper-button-prev,
.swiper-but .swiper-button-next,
.swiper-but .swiper-pagination {
    position: static !important;
}

.controls {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    position: relative;
}




.swiper-pagination-bullets-dynamic {
    left: 0;
}

.swiper-but {
    display: flex;
    gap: 8px;
}

.swiper-wrapper {
    margin-bottom: 40px;
}


.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-horizontal.swiper-pagination-bullets {
    left: 0 !important;
}

.swiper-button-prev svg,
.swiper-button-nextt svg {
    width: 16px !important;
    height: 16px !important;
    fill: rgba(2, 6, 10, 1) !important;
}

/* Базовий стан */
.swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    cursor: pointer;
    background: #cfcfcf;
    opacity: 1;
    border-radius: 50%;
}

/* Активна */
.swiper-pagination-bullet-active {
    background: #02060A !important;
}

.feedback {
    margin: 0 auto;
    max-width: 336px;
    height: 100%;
    display: grid;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-horizontal.swiper-pagination-bullets {
    transform: none !important;
}

.feedback-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #02060a;
    font-family: "IBM Plex Sans", sans-serif;
    margin-bottom: 32px;

}

.feedback-author {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #02060a;
}

.stories {
    color: #02060a;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.feedback-rate {
    display: inline-block;
    font-size: 20px;
    color: lightgray;
    /* неактивні зірки */
    position: relative;
}

.feedback-rate .star.filled {
    color: black;
    /* заповнені зірки */
}

/* Для половинних зірок */
.feedback-rate .star.half {
    position: relative;
    color: lightgray;
}

.feedback-rate .star.half::before {
    content: '★';
    color: black;
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}

.title-stories {
    padding: 0;
    margin-bottom: 0;
}

.text-stories {
    position: static;
    text-align: center;
    color: black;
    padding: 0;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 40px;
}

.feedback-rate {
    margin-bottom: 32px;

}

.container-stories {
    padding: 0;
}

@media (min-width: 768px) {
    .title-stories {
        height: auto;
        width: 544px;

    }
}

@media (min-width: 1440px) {
    .title-stories {
        width: 500px;
    }

    .text-stories {
        width: 630px;
    }

    .feedback {
        max-width: 640px;
    }

    .controls {
        max-width: 1312px;
    }
}